@tailwind base;
@tailwind components;
@tailwind utilities;
/* clase de tailwind a bg */
body {
    @apply bg-neutral-950;
    color: #fff;
}

.grid-res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* scroll  */
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 6px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* scroll  */