@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f0f0f;
    color: #fff;
}

/* scroll  */
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 6px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* scroll  */