@tailwind base;
@tailwind components;
@tailwind utilities;

/* clase de tailwind a bg */
body {
    @apply bg-neutral-950;
    color: #fff;
}

.grid-res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    /* gutter size offset */
    width: 100%;
}

.my-masonry-grid_column {
    /* gutter size */
    background-clip: padding-box;
}

/* scroll  */
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 6px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* scroll  */